<!DOCTYPE html>
<html>
<head>
    <title>Каталог документов</title>
</head>
<body>

<h1>Каталог шаблонов документов</h1>

<div>
    <h2>Внутренний контроль качества и безопасности медицинской деятельности</h2>

    <div>
        <h3>Приказ «Об утверждении Положения о порядке организации и проведения внутреннего контроля качества и безопасности медицинской деятельности», назначение ответственных</h3>
        <p>Цена: 300 ₽</p>
        <a href="https://mediator-med.server.paykeeper.ru/bill/20260502011053222">Купить</a>
    </div>

    <hr>

    <div>
        <h3>Положение о порядке организации и проведения внутреннего контроля качества и безопасности медицинской деятельности</h3>
        <p>Цена: 300 ₽</p>
        <a href="https://mediator-med.server.paykeeper.ru/bill/20260502011053222">Купить</a>
    </div>

    <hr>

    <div>
        <h3>Должностные инструкции (уполномоченный и врач)</h3>
        <p>Цена: 300 ₽</p>
        <a href="https://mediator-med.server.paykeeper.ru/bill/20260502011053222">Купить</a>
    </div>

    <hr>

    <div>
        <h3>План проверок по контролю качества и безопасности медицинской деятельности.</h3>
        <p>Цена: 300 ₽</p>
        <a href="https://mediator-med.server.paykeeper.ru/bill/20260502011053222">Купить</a>
    </div>

    <hr>

    <div>
        <h3>Акт контроля качества медицинской помощи (шаблон)</h3>
        <p>Цена: 300 ₽</p>
        <a href="https://mediator-med.server.paykeeper.ru/bill/20260502011053222">Купить</a>
    </div>

    <hr>

    <div>
        <h3>Карта оценки качества медицинской помощи (шаблон)</h3>
        <p>Цена: 300 ₽</p>
        <a href="https://mediator-med.server.paykeeper.ru/bill/20260502011053222">Купить</a>
    </div>

    <hr>

    <div>
        <h3>Журнал контроля качества медицинской помощи и инструкция по заполнению (шаблон с примером заполнения)</h3>
        <p>Цена: 300 ₽</p>
        <a href="https://mediator-med.server.paykeeper.ru/bill/20260502011053222">Купить</a>
    </div>

    <hr>

    <div>
        <h3>Инструкция по заполнению журнала контроля качества медицинской помощи.</h3>
        <p>Цена: 300 ₽</p>
        <a href="https://mediator-med.server.paykeeper.ru/bill/20260502011053222">Купить</a>
    </div>

    <hr>

    <div>
        <h3>Отчёт по результатам проведения внутреннего контроля качества и безопасности медицинской деятельности с планом мероприятий по устранению выявленных нарушений и улучшению деятельности медицинской организации и медицинских работников (шаблон с примером заполнения)</h3>
        <p>Цена: 300 ₽</p>
        <a href="https://mediator-med.server.paykeeper.ru/bill/20260502011053222">Купить</a>
    </div>

    <hr>

    <div>
        <h3>Ежеквартальный/полугодовой/годовой отчёт по итогам работы по внутреннему контролю качества и безопасности медицинской деятельности (шаблон, заполненный на 80%, остальное вносится по факту руководителем)</h3>
        <p>Цена: 300 ₽</p>
        <a href="https://mediator-med.server.paykeeper.ru/bill/20260502011053222">Купить</a>
    </div>

</div>

</body>
</html>